*{
    margin: 0;
}
    html{
    border: 5px solid green;
}
body{
    border: 3px solid rgb(89, 250, 89);
    background-image: url("gallery.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.box{
    background-color: black;
    color: blanchedalmond;
    border: 5px solid red;
    border-radius: 15px;
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    font-size: larger;
    /* float: left; */
    display: inline-block;
    margin: 10px;
}
#box2{
    position: absolute;
    left: 198px;
    height: 57px;
    top: 16px;
}
#box3{
     position: absolute;
     left: 1020px;
     height: 100px;
     top: 8px;
}
.div4{
    background-color: white;
    color: rgb(245, 55, 245);
    border: 4px dashed red;
    height: 650px;
    width: 400px;
    text-align: center;
    /* position: absolute;
    left: 500px;
    top: 300px; */
    color: red;
    position: relative;
left: 500px;
/* top: 290px; */
top: -30px;
}
.circle{
    /* background-color: seagreen;
    border: solid 4px rgb(77, 76, 76);
    text-align: center;
    border-radius: 122px;
    width: 223px;
    height: 224px;
    box-sizing: border-box;
    margin-top: 249px;
    padding-top: 44px;
    margin-left: 26px; */

    background-color: seagreen;
    border: solid 4px rgb(77, 76, 76);
    text-align: center;
    border-radius: 122px;
    width: 223px;
    height: 224px;
    box-sizing: border-box;
    margin-top: 249px;
    padding-top: 63px;
    margin-left: 26px;
    position: absolute;
    top: 50px;
}

#box4{
    /* border: 8px solid red;
    background-color: black;
    height: 80px;
    width: 400px;
    border-radius: 35px;
    color: white;
    text-align: center;
    position: absolute;
    top: 1174px;
    left: 35%;
    font-size: 50px;
    padding: 1px;
     */


     border: 8px solid red;
     background-color: black;
     height: 73px;
     width: 436px;
     border-radius: 35px;
     color: white;
     text-align: center;
     position: absolute;
     top: 754px;
     left: 35%;
     font-size: 40px;
     padding: 4px;
}
.menu{

    background-color: lightskyblue;
    color: rgb(7, 7, 138);
    text-align: center;
    border: 2px solid rgb(7, 47, 11);
    border-radius: 15px;
    box-sizing: border-box;
    width: 320px;
    height: 202px;
    margin-top: 15px;
    margin: 60px;

}
.container{

    /* display: flex;
    flex-wrap: wrap;
    padding-left: 0; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

/* .container menu{
    list-style: none;
  flex: 0 0 33.333333%;
} */